
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">{{'logoTitle.logoTitle'| translate}}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
   
    <div class="nav-item text-nowrap px-2 mx-5  ">
   
        <ng-select [items]="languages"
        [(ngModel)]="selectedLanguage"
        (ngModelChange)="changeLanguage(selectedLanguage)"
        bindValue="code"
        bindLabel="'languageSelect.' + item.code | translate"
        [clearable]="false"
        [searchable]="false"
        [dropdownPosition]="'auto'"
        class="custom-select"
        appearance="outline"
        >

<ng-template ng-label-tmp let-item="item">
 <img class="flag-icon" src="{{ item.flag }}" alt="{{ item.code }} Flag"> <span>&nbsp;</span> <i class="fas fa-chevron-down" style="color: #fff;"></i>
</ng-template>

<ng-template ng-option-tmp let-item="item">
 <img class="flag-icon" src="{{ item.flag }}" alt="{{ item.code }} Flag"> <span>{{ item.code| uppercase}}</span>
 <span *ngIf="item.code === selectedLanguage">{{ item.code | uppercase }}</span>
</ng-template>
</ng-select>


      
    </div>

  
    
</header>


