<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="h-100 d-md-block bg-light sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/home">
                <span data-feather="home"></span>
                <i class="fas fa-home"></i>&nbsp;  {{ 'languageSelect.home' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <span data-feather="users"></span>
                <i class="fas fa-users"></i>&nbsp;  {{ 'languageSelect.manageUsers' | translate }}
              </a>
              
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </div>
 